<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer Type-1 -->
<footer class="footer footer-type-1 bg-dark" th:fragment="footer">
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 copyright text-center">
                        <span>
                          Copyright &copy; 2017.Company name All rights reserved.
                        </span>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- end footer -->


<div id="back-to-top" th:fragment="to-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
</div>
</body>
</html>