<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>橙子技术社区</title>
    <!-- 标签页图标 -->
    <link rel="Shortcut Icon" href="../static/icon/logo.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400%7COpen+Sans:400,400i,700%7CLibre+Baskerville:400i'
          rel='stylesheet'>
    <!-- Css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-icons.css"/>
    <link rel="stylesheet" href="/css/sliders.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <link rel="stylesheet" href="/css/spacings.css"/>
    <link rel="stylesheet" href="/css/animate.min.css"/>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/editor/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <style>
        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            border: 1px black;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        body.alternative-background {
            background-color: #abb2b9; /* 替换为你希望切换的背景颜色 */
        }
        .user-info-container {
            display: block;
            align-items: center;
        }

        .user-avatar {
            border-radius: 50%;
            max-width: 100px;
            max-height: 100px;
            width: auto; /* 让宽度自适应 */
            height: auto;  /*让高度自适应 */
            margin-bottom: 20px; /* 设置头像和名字之间的右边距，可以根据实际情况调整 */
        }

    </style>
</head>

<body class="relative">

<!-- 加载动画 -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>


<div class="main-wrapper oh">

    <header th:replace="fragments/head :: header"></header>


    <!--    logo  -->
    <div class="content-wrapper oh">

        <!-- Latest Stories -->
        <section class="section-wrap latest-stories pb-0" style="background-color: #e1e0de">

            <div class="heading-row text-center mb-40">
                <!-- 判断用户名是否为空 -->
                <th:block th:if="${session.user != null}">
                    <div class="user-info-container">
                        <img th:src="'/img/' + ${userinfo.headPhoto}" alt="User Avatar" class="user-avatar"/>
                        <h1  th:text="${userinfo.personName}">Username</h1>
                        <h1 class="heading uppercase small" th:text="'简介：'+${userinfo.profile}">Username</h1>

                        <div class="entry-meta-user">
                            <ul class="entry-meta">
                                <li >
                                    <p>码龄</p>
                                </li>

                                <li class="entry-comments">
                                    <a href="blog-single.html">粉丝：12315</a>
                                </li>

                                <li class="entry-comments">
                                    <a href="blog-single.html">关注的人：</a>
                                </li>
                                <li class="entry-comments">
                                    <a href="blog-single.html">收藏</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </th:block>
                <!-- 如果用户名为空，显示默认标题 -->
                <th:block th:unless="${session.user != null}">
                    <h1 class="heading uppercase small">橙子技术社区</h1>
                </th:block>
            </div>
            
        </section> <!-- end latest stories -->

        <!-- 导航栏 -->
        <div class="col-md-12 nav-wrap">
            <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a href="/" th:text="'我的文章('+ ${totalPages} +')'">我的文章</a></li>
                    <li><a href="/">我的动态</a></li>
                    <li><a href="/">我的粉丝</a></li>
                    <li><a href="#" onclick="toggleBackgroundColor()">我的收藏</a></li>
                </ul> <!-- end menu -->
            </div> <!-- end collapse -->
        </div>

        <!-- 分页 -->
        <div class="container" >

            <!-- Content -->
            <section class="content blog-standard">

                <div class="container relative">
                    <div class="row">
                        <div th:each="article : ${currentPageData}" class="card" style="border-left: 70px solid #fff;border-bottom: 70px solid #fff;">
                            <img class="card-img-top"
                                 th:src="${article.picture} != '' ? '/image/'+${article.picture} : '/img/lineFirst.jpg' "
                                 alt="Card image"
                                 style="width:40%; border-radius: 3%;">
                            <div class="card-body">

                                <a th:href="@{/blog-single.html(id=${article.id})}">
                                    <h4 class="card-title" th:text="${article.title}">标题</h4>
                                </a>
                                <p class="card-text" th:text="'简介：'+${article.shortTitle}">简介</p>
                                <p class="card-text" th:text="'编辑日期：'+${article.updateTime}"></p>
                                <p class="card-link" th:text="''+${article.status} == 1 ? '状态：已发布于'+${article.updateTime} : '状态：草稿'"></p>

                                <div id="articleButton"  class="entry-meta-wrap clearfix">
                                    <div class="btn-group ">
                                        <input type="hidden" id="likeType" value="0" />

                                        <input th:if="${session} != null" type="hidden" id="UserId"  />


                                        <span id="likeButton"
                                                type="button"
                                                class="btn btn-light"
                                                th:text="${'👍（' + likeCount + '）'}"

                                        >👍（743）</span>
                                        <span type="button" class="btn btn-light" th:text="${' 💬 （' +commentCount+ '）'}">💬 （2）
                                        </span>

                                        <button type="button" class="btn btn-light" >⭐（）</button>


                                    </div>
                                </div>

                                <a th:href="@{'/article/update?id=' + ${article.id}}"
                                   class="card-link"
                                   style="border-right: 20px;">编辑</a>
                                <a href="javascript:void(0);" class="card-link"
                                   th:onclick="'javascript: confirmDelete(' + ${article.id} + ');'"
                                   style="border-right: 20px;">删除</a>

                            </div>
                            <hr>
                        </div>

                        <!-- 侧边栏推荐 -->

                        <!-- end 侧边栏推荐 -->
                    </div> <!-- end row -->



                </div> <!-- end container -->

                <!-- 分页按钮  -->
                <div class="container" style="display: flex; justify-content: center; align-items: center;"
                th:value="${#numbers.sequence(1, totalPages)}">
                    <ul class="pagination ">
                        <li class="page-item" th:class="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/user/info(id=${userinfo.id},
                               currentPage= 1,
                               pageSize=${pageSize})}">首页</a>
                        </li>

                        <li th:each="page : ${#numbers.sequence(1, totalPages)}"
                            th:class="${page == currentPage ? 'page-item active' : 'page-item'}">
                            <a class="page-link"
                               th:href="@{/user/info(id=${userinfo.id}, currentPage=${page}, pageSize=${pageSize})}"
                               th:text="${page}"></a>
                        </li>

                        <li class="page-item"
                            th:class="${currentPage == totalPages ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/user/info(id=${userinfo.id}, currentPage=${totalPages}, pageSize=${pageSize})}">尾页</a>
                        </li>
                    </ul>
                </div>

            </section> <!-- end content -->


        </div>

        <!-- Footer Type-1 -->
        <footer class="footer footer-type-1 bg-dark">
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 copyright text-center">
                        <span>
                          Copyright &copy; 2017.Company name All rights reserved.
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer> <!-- end footer -->


        <div id="back-to-top">
            <a href="#top"><i class="fa fa-angle-up"></i></a>
        </div>

    </div> <!-- end content wrapper -->
</div> <!-- end main wrapper -->

<!-- jQuery Scripts -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<!--<script type="text/javascript" src="/js/twitterFetcher_min.js"></script>-->
<script type="text/javascript" src="/js/scripts.js"></script>
<!-- SweetAlert2 -->
<script src="/editor/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/editor/plugins/editor.md/js/editormd.min.js"></script>
<!-- Instafeed -->
    <script>
        var userArticleList=[];
        /* <![CDATA[ */
        function toggleBackgroundColor() {


        var body = document.body;
        body.classList.toggle('alternative-background');
    }
        /* ]]> */

            function confirmDelete(articleId) {

            // 使用 SweetAlert2 弹出确认框
            Swal.fire({
                title: '确认删除?',
                // text: '删除后将无法恢复!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d92b2b',
                cancelButtonColor: '#9d9d9d',
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    // 用户点击确认，执行删除操作
                    console.log("log");
                    deleteArticle(articleId);
                }
            });
        }

            function deleteArticle(articleId) {
            // 使用 AJAX 发送删除请求
            $.ajax({
                url: '/article/delete?id=' + articleId,
                type: 'DELETE',
                success: function () {
                    // 删除成功时，显示成功通知
                    Swal.fire('删除成功!', '', 'success');
                    // 刷新页面
                    location.reload();
                },
                error: function () {
                    // 删除失败时，显示失败通知
                    Swal.fire('删除失败!', '请重试或联系管理员', 'error');
                }
            });
        }

</script>



</body>

</html>
</html>